.backgroundAbout{
    height: 100vh;
    width: 100vw;
    margin: 0%;
    background: rgb(105,155,200);
    background: radial-gradient(ellipse at top left, rgba(105,155,200,1) 0%,rgba(181,197,216,1) 57%);
}

.textAbout{
    font-size: 18px;
    text-align: center;
    margin: 10%;
    margin-top: 32%;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 10px;
    width: 30rem;
    color: rgb(85, 85, 85);

    
}

ion-navbar{
    color:white;
    background-color: white;
}

.toolbar-background {
    background-color: white;
    
  }

  .toolbar-title-md{
      color:black;
  }